.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.F-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.FX-end {
    justify-content: flex-end;
}

.FY-center {
    align-items: center;
}